server:
  port: 8087

spring:
  application:
    name: audit-service
  datasource:
    url: jdbc:postgresql://localhost:5432/audit_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: AuditHikariPool
      minimum-idle: 2
      maximum-pool-size: 10
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: ${JWT_SECRET:D4cFXy68Cmd/vD8tSyRsEDcsMkaTwRH0mjWlxXBNhDE=}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    ru.itmo: INFO
