openapi: 3.0.0
info:
  title: Order Service API
  description: API сервиса заказов
  version: 0.1.0
servers:
  - url: http://localhost:8084/orders
    description: Dev server

paths:
  /orders:
    get:
      summary: Список заказов
      operationId: getOrders
      tags:
        - Order
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
components:
  schemas:
    Order:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
